.header {
    height: 100px;
    width: 100%;
    background-color: #3b28cc;
}

.main {
    height: 2600px;
    width: 100%;
    background-color: #add7f6;
}

.footer {
    height: 400px;
    width: 100%;
}