.header {
    height: 100px;
    width: 100%;
    background-color: chocolate;
}

.main {
    height: 2600px;
    width: 100%;
    background-color: darkgoldenrod;
}

.footer {
    height: 400px;
    width: 100%;
}