ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: middle;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
    vertical-align: middle;
}

ul.menu>li {
    float: left;
    position: relative;
    vertical-align: middle;
}

ul.menu>li>a {
    width: 180px;
    height: 100px;
    display: block;
    padding: 20% 20% 20% 20%;
    color: white;
    background-color: #3b28cc;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

ul.menu>li>a:hover {
    background-color: #3f8efc;
    vertical-align: middle;
}

ul.menu>li>a>button:hover {
    background-color: #3f8efc;
    vertical-align: middle;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 180px;
    top: 100px;
    left: 0;
    background-color: white;
    border: 1px solid #3b28cc;
    vertical-align: middle;
}

ul.submenu>li {
    display: block;
    vertical-align: middle;
}

ul.submenu>li>a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #3b28cc;
    text-decoration: none;
    vertical-align: middle;
}

ul.submenu>li>a:hover {
    text-decoration: underline;
    vertical-align: middle;
}

ul.menu>li:hover>ul.submenu {
    display: block;
    vertical-align: middle;
}

ul.menu>li:hover>ul.submenu {
    display: block;
    vertical-align: middle;
}

.catalog {
    float: right;
    position: relative;
    margin-left: 2%;
    padding: 10px;
    top: 0;
    right: 0px;
    height: 42px;
    border: none;
    background: #3b28cc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    vertical-align: middle;
}

.fa-folder-open-o:before {
    position: absolute;
    top: 5%;
    bottom: 3%;
    left: 2%;
    right: 2%;
    color: white;
    vertical-align: middle;
}

.button>.catalog {
    position: static;
    vertical-align: middle;
}