.main {}

.block-title {
    color: white;
    padding: 10% 10% 0 15%;
    text-align: left;
    font-size: 50px;
}

.block-title-h2 {
    color: white;
    padding: 0 10% 5% 15%;
    text-align: left;
    font-size: 35px;
}

.block-image {
    float: right;
    width: 83%;
    height: 500px;
    background-image: url(../image/computer.jpeg);
    background-size: 100%;
    margin: 1% 1% 1% 5%;
}

.block-image-button {
    margin: 670px 740px 100px 400px;
    height: 40px;
    width: 194px;
    background-color: darkviolet;
    color: white;
    font-size: 18px;
}

.news {
    height: 300px;
    width: 170px;
    background-color: yellow;
    text-align: left;
    position: absolute;
    padding-left: 1%;
    padding-top: 1%;
    margin-left: 1%;
    margin-top: 23%;
}

.news-a {
    float: right;
    margin: -23% 1% 0 -20%;
    text-decoration: none;
}

.news-image {
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.news-text {
    float: right;
    padding: 2%;
}

.icon {
    float: right;
    width: 83%;
    height: 120px;
    background-color: yellowgreen;
    margin: 1% 1% 2% 5%;
    display: inline-block;
}

.icon-heart {
    display: inline-block;
    margin: 0 1% 1% 3%;
}

.icon-clock {
    display: inline-block;
    margin: 0 1% 1% 11%;
}

.icon-cog {
    display: inline-block;
    margin: 0 1% 1% 11%;
}

.icon-bar-chart {
    display: inline-block;
    margin: 0 1% 1% 11%;
}

.icon-p {
    padding-left: 5%;
}